__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

.ipynb_checkpoints/

.DS_Store
Thumbs.db

.vscode/

*.log
*.tmp

data/
dataset/
Flickr8k/

checkpoints/
latest_checkpoint.pth
best_model.pth

test_images/

.streamlit/secrets.toml